
      

  
      

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">CodingFactory</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/" routerLinkActive="active" href="index.html">Home<br></a></li>
          <li><a routerLink="/about" routerLinkActive="active" href="about.html" class="active">About</a></li>
          <li><a routerLink="/courses" routerLinkActive="active" href="courses.html">Courses</a></li>
          <li><a routerLink="/Trainers" routerLinkActive="active" href="trainers.html">Trainers</a></li>
          <li><a routerLink="/Events" routerLinkActive="active" href="events.html">Events</a></li>
          <!--<li><a routerLink="/payment-plans" routerLinkActive="active" >Payment Plan</a></li>-->

            
          
          <li><a routerLink="/Contact" routerLinkActive="active" href="contact.html">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>


    </div>
  </header>